Django>=2.2,<3

django-filter
django-cors-headers


graphene-django
django-graphql-jwt
graphene_graphiql_explorer

django-taggit

# REST
djangorestframework
djangorestframework-jwt

# dev
ipdb
pylint
flake8
black

gunicorn
psycopg2-binary

# testing
pytest-django
pytest-sugar
pytest-instafail
pytest-factoryboy
factory-boy
Faker
pytest-cov


celery

